 
<h1> Edit your profile!</h1>


 <form action = "/user/process/update" method = "post">
    First Name: 
    <input type = "text" name = "first_name" value = "<%= @user.first_name %>">
    <br><br>
    Last Name: 
    <input type = "text" name = "last_name" value = "<%= @user.last_name %>">
    <br><br>
    Email Address: 
    <input type = "text" name = "email" value = "<%= @user.email %>">
    <br><br>
    Password: 
    <input type = "text" name = "password" value = "<%= @user.password %>">
    <br><br>
    Debt Amount:
    <input type = "number" name = "debt_amount" value ="<%=@user.debt_amount%>">

  <input type = "submit" value = "Update">
</form>