
<div class="container">

<% if @user.id == session["user_id"]%>

  <div>
      <ul class="nav nav-pills">
      <li>
        <a href="/user/list">
          <span class="icon icon-users"></span>
          List of Users
        </a>
      </li>
      <li>
        <a href="/user/update">
          <span class="icon icon-cog"></span>
          Update Settings
        </a>
      </li>
      <li>
        <a href="/">
          <span class="icon icon-home"></span>
          Home
        </a>
      </li>
      <li>
        <a href="/logout">
          <span class="icon icon-logout"></span>
          Logout
        </a>
      </li>
    </ul>
  </div>  

  <div class="block text-center">
    <h1 class="block-title"><%= @user.first_name %> 
      <%= @user.last_name %></h1>
    <form action="/update/create" method="post">
      <div class="input-group">
        <input type="text" class="form-control" name="status_update" placeholder="Update status...">
        <span class="input-group-btn">
          <input type="submit" value="Post New Status" class="btn btn-primary">
        </span>
      </div>
    </form> 
  </div>




   
    <h3>Donations Received:</h3>
    <% @donations_received.each do |d| %>
    <div class="callout">
    <div class="callout-content">
      <strong>$<%= d.amount %>0</strong> <a href="/user/profile/<%= d.access_investor.id %>"><%= d.access_investor.first_name %> <%= d.access_investor.last_name %></a>
    </div>
    <% if d.paid == nil || d.paid == false %>
    <div class="callout-secondary">
    <form action="/investments/<%= d.id %>/update/paid" method="post">
      <button class="btn btn-sm btn-info">Mark as Paid</button></form>
    </div>
    <% elsif d.paid == true %>
    <div class="callout-secondary">
      <button class="btn btn-sm btn-info">PAID</button>
    </div>
    <% end %>
  </div>
   <% end %>
    
 
    
<% if @investments != [] %>
  <h3> Your Recent Donations:</h3>
  <% @investments.each do |i| %>
  <div class="callout">
    <div class="callout-content">
      <strong>$<%= i.amount %>0</strong>. <a href="/user/profile/<%= i.access_student.id %>"><%= i.access_student.first_name %> <%= i.access_student.last_name %></a>
    </div>

    <div class="callout-secondary">
    <a href="/user/profile/<%= i.access_student.id %>">
      <button class="btn btn-sm btn-info">See Profile</button></a>
    </div>
  </div>
   <% end %>
  <% end %>



    <%if @status_updates_time != [] %>
  <div class="text-center">
    <h3><%= @user_presenter.status_updates_header(session["user_id"]) %></h3>
    <%@status_updates_time.each do |s|%>
    <blockquote class="pull-quote">
        <p>
          <i><%= s.status_update%></i>
        </p>
      <cite><%= (Time.now - s.created_at.to_time).to_i/60 %> Minutes ago.</cite>
    
      <% if @user.id == session["user_id"]%>

        <ul class="nav nav-pills">
              <li>
                <form action = "/update/edit/<%=s.id%>" method = "post">
                  <input type = "submit" value = "Edit" class="btn btn-primary">
                </form>
              </li>
              <li>
                <form action = "/update/delete/<%=s.id%>" method = "post">
                  <input type = "submit" value = "Delete" class="btn btn-primary">
                </form>
              </li>
        </ul>
      </blockquote>
      <%end%>
    <%end%>
  </div>
  <%end%>
  </div>



  </div>

  

 

<% else %>

<!-- DONATE BUTTON SHOULD GO IN THE TOP RIGHT CORNER
 -->  <div>
  <a href="/investments/invest/<%= @user.id %>">Donate</a>
<%end%></div>

<!-- BACK TO MY PROFILE BUTTON IN TOP RIGHT CORNER
 -->  <div>
    <%if @user.id != session["user_id"]%> 
    <a href="/user/profile/<%=session["user_id"]%>">Back to my profile</a>
    <%end%><br>
    <p>
    <% if @user.debt_amount != 0 || nil %>
      <h3>Amount needed:</h3>
      $<%= @user.debt_amount %>
      </p>
    <% end %>
  </div>



  <div>

<div>    
    <a href="/user/update">Update</a>
    <form action = "/user/delete" method = "post">
        <input type = "submit" value = "Delete">
    </form>
  </div>

  </div>

</div>