<h2><%= @user.first_name %> 
<%= @user.last_name %></h2>


<% if @user.id == session["user_id"]%>
<a href="/user/update">Update</a>
<form action = "/user/delete" method = "post">
    <input type = "submit" value = "Delete">
</form>

  Status:<br>
  <form action="/status/create" method="post">
    <input type="text" name = "status_update" placeholder="Update status..."><br>
    <input type="submit" value = "Post">
  </form>

  <br>
  Donations Received:<br>  
  <% @donations_received.each do |d| %>
    <a href="/user/profile/<%= d.access_investor.id %>"><%= d.access_investor.first_name %> <%= d.access_investor.last_name %></a> <%= d.amount %><br>
    <% end %>

<% else %>
  <a href="/investments/invest/<%= @user.id %>">Donate</a>
<%end%>

<p>
<% if @user.debt_amount != 0 || nil %>
  Amount needed:<br>
  $<%= @user.debt_amount %>
  </p>
<% end %>
<%if @status_updates_time != [] %>
<%@status_updates_time.each do |s|%>
<%= s.status_update%><br><%= (Time.now - s.created_at.to_time).to_i/60%> Minutes ago. <br><br>
<% if @user.id == session["user_id"]%>
<form action = "/update/edit/<%=s.id%>" method = "post">
          <input type = "submit" value = "Edit">
</form>
<form action = "/update/delete/<%=s.id%>" method = "post">
          <input type = "submit" value = "Delete">
    </form>
    <br><br>
<%end%>
<%end%>
<%end%>

<% if @investments != [] %><br><br>
Donations:<br>
  <% @investments.each do |i| %>
  <a href="/user/profile/<%= i.access_student.id %>"><%= i.access_student.first_name %> <%= i.access_student.last_name %></a>
  <%= i.amount %><br>
  <% end %>
<% end %>

<br><br>
<a href="/">Home</a><br>
<a href="/user/list">List of Users</a>