
<div class="container">

<% if @user.id == session["user_id"]%>

  <div>
      <ul class="nav nav-pills">
      <li>
        <a href="/user/list">
          <span class="icon icon-users"></span>
          List of Users
        </a>
      </li>
      <li>
        <a href="/user/update">
          <span class="icon icon-cog"></span>
          Update Settings
        </a>
      </li>
      <li>
        <a href="/">
          <span class="icon icon-home"></span>
          Home
        </a>
      </li>
      <li>
        <a href="/logout">
          <span class="icon icon-logout"></span>
          Logout
        </a>
      </li>
    </ul>
  </div>  

  <div class="block text-center">
    <h1 class="block-title"><%= @user.first_name %> 
      <%= @user.last_name %></h1>
    <form action="/update/create" method="post">
      <div class="input-group">
        <input type="text" class="form-control" name="status_update" placeholder="Update status...">
        <span class="input-group-btn">
          <input type="submit" value="Post New Status" class="btn btn-primary">
        </span>
      </div>
    </form> 
  </div>
  <div class="statcard statcard-primary p-a-md m-b">
  <h3 class="statcard-number">
    12,938
    <small class="delta-indicator delta-positive">5%</small>
  </h3>
  <span class="statcard-desc">Page views</span>
</div>

  <div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <ul class="featured-list featured-list-bordered">
        <li class="m-b-md">
          <div class="featured-list-icon">
            <span class="icon icon-dropbox"></span>
          </div>

          <h3>Save things</h3>
          <p>
            Use dropbox to save things in the "cloud" because throwing things away is stressful and this way you don't have to.
          </p>
        </li>

        <li>
          <div class="featured-list-icon">
            <span class="icon icon-github"></span>
          </div>
          <h3>Fork things</h3>
          <p>
            Use github to share things on the internet then change them. Make things better. Free software? But not as in beer.
          </p>
        </li>
      </ul>
    </div>
    <div class="col-sm-6">
      <ul class="featured-list featured-list-bordered">
        <li class="m-b-md">
          <div class="featured-list-icon">
            <span class="icon icon-medium"></span>
          </div>

          <h3>Write things</h3>
          <p>
            Use Medium to write things down and sound smart. Also when you write, your writings looks pretty and that is cool.
          </p>
        </li>

        <li>
          <div class="featured-list-icon">
            <span class="icon icon-twitter"></span>
          </div>
          <h3>Tweet things</h3>
          <p>
            Use twitter to share 140 characters worth of anything you want. Pictures, videos, etc. It doesn't really matter.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>


  <div class="row">
  <div class="col-sm-6">
    <div class="statcard statcard-primary p-a-md">
      <h3 class="statcard-number">
        12,938
        <small class="delta-indicator delta-positive">5%</small>
      </h3>
      <span class="statcard-desc">Page views</span>
    </div>
  </div>
  <div class="col-sm-6">
    <%if @status_updates_time != [] %>
  <div class="text-center">
    <h3><%= @user_presenter.status_updates_header(session["user_id"]) %></h3>
    <%@status_updates_time.each do |s|%>
    <blockquote class="pull-quote">
        <p>
          <i><%= s.status_update%></i>
        </p>
      <cite><%= (Time.now - s.created_at.to_time).to_i/60 %> Minutes ago.</cite>
    
      <% if @user.id == session["user_id"]%>

        <ul class="nav nav-pills">
              <li>
                <form action = "/update/edit/<%=s.id%>" method = "post">
                  <input type = "submit" value = "Edit" class="btn btn-primary">
                </form>
              </li>
              <li>
                <form action = "/update/delete/<%=s.id%>" method = "post">
                  <input type = "submit" value = "Delete" class="btn btn-primary">
                </form>
              </li>
        </ul>
      </blockquote>
      <%end%>
    <%end%>
  </div>
  <%end%>
  </div>
  </div>



  </div>

  

    <div> 
    <h3>Donations Received:</h3><br>
    <% @donations_received.each do |d| %>
    <a href="/user/profile/<%= d.access_investor.id %>"><%= d.access_investor.first_name %> <%= d.access_investor.last_name %></a> <%= d.amount %><br>
    <% if d.paid == nil || d.paid == false %>
    <form action="/investments/<%= d.id %>/update/paid" method="post"> 
      <input type="submit" value="Mark as Paid">
    </form>
    <% elsif d.paid == true %>PAID<br>
    <% end %>
    <% end %>

    </div>

<% else %>

<!-- DONATE BUTTON SHOULD GO IN THE TOP RIGHT CORNER
 -->  <div>
  <a href="/investments/invest/<%= @user.id %>">Donate</a>
<%end%></div>

<!-- BACK TO MY PROFILE BUTTON IN TOP RIGHT CORNER
 -->  <div>
    <%if @user.id != session["user_id"]%> 
    <a href="/user/profile/<%=session["user_id"]%>">Back to my profile</a>
    <%end%><br>
    <p>
    <% if @user.debt_amount != 0 || nil %>
      <h3>Amount needed:</h3>
      $<%= @user.debt_amount %>
      </p>
    <% end %>
  </div>

<% if @investments != [] %><br><br>
  <div>
    <h3> Recently made donations:</h3>
      <% @investments.each do |i| %>
      <a href="/user/profile/<%= i.access_student.id %>"><%= i.access_student.first_name %> <%= i.access_student.last_name %></a>
      - $<%= i.amount %><br>
      <% end %>
  </div>
    <% end %>

  <div>

<div>    
    <a href="/user/update">Update</a>
    <form action = "/user/delete" method = "post">
        <input type = "submit" value = "Delete">
    </form>
  </div>

  </div>

</div>